<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Config>
    <LastFile>A-10C-Radio-2_Michael.xml</LastFile>
    <IP>127.0.0.1</IP>
    <PortListener>26026</PortListener>
    <Tlc5943Brightness>23</Tlc5943Brightness>
    <Display7219DigitsIntensity>04</Display7219DigitsIntensity>
    <TestData />
    <IntervalTimer>5</IntervalTimer>
    <WriteToHD>false</WriteToHD>
    <LogAllActions>false</LogAllActions>
    <PortSender>26027</PortSender>
    <refreshCycles>1</refreshCycles>
    <refreshDelay>10</refreshDelay>
  </Config>
  <VirtualKeys>
    <Key xml:space="preserve"> </Key>
    <KeyCode>0x00</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>BACKSPACE</Key>
    <KeyCode>0x08</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>TAB</Key>
    <KeyCode>0x09</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>ENTER</Key>
    <KeyCode>0x0D</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>PAUSE</Key>
    <KeyCode>0x13</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>SPACEBAR</Key>
    <KeyCode>0x20</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>ESC</Key>
    <KeyCode>0x1B</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>PAGE UP</Key>
    <KeyCode>0x21</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>PAGE DOWN</Key>
    <KeyCode>0x22</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>END</Key>
    <KeyCode>0x23</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>HOME</Key>
    <KeyCode>0x24</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>LEFT ARROW</Key>
    <KeyCode>0x25</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>RIGHT ARROW</Key>
    <KeyCode>0x27</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>UP ARROW</Key>
    <KeyCode>0x26</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>DOWN ARROW</Key>
    <KeyCode>0x28</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>INS</Key>
    <KeyCode>0x2D</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>DEL</Key>
    <KeyCode>0x2E</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>0</Key>
    <KeyCode>0x30</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>1</Key>
    <KeyCode>0x31</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>2</Key>
    <KeyCode>0x32</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>3</Key>
    <KeyCode>0x33</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>4</Key>
    <KeyCode>0x34</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>5</Key>
    <KeyCode>0x35</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>6</Key>
    <KeyCode>0x36</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>7</Key>
    <KeyCode>0x37</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>8</Key>
    <KeyCode>0x38</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>9</Key>
    <KeyCode>0x39</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>A</Key>
    <KeyCode>0x41</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>B</Key>
    <KeyCode>0x42</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>C</Key>
    <KeyCode>0x43</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>D</Key>
    <KeyCode>0x44</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>E</Key>
    <KeyCode>0x45</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F</Key>
    <KeyCode>0x46</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>G</Key>
    <KeyCode>0x47</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>H</Key>
    <KeyCode>0x48</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>I</Key>
    <KeyCode>0x49</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>J</Key>
    <KeyCode>0x4A</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>K</Key>
    <KeyCode>0x4B</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>L</Key>
    <KeyCode>0x4C</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>M</Key>
    <KeyCode>0x4D</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>N</Key>
    <KeyCode>0x4E</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>O</Key>
    <KeyCode>0x4F</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>P</Key>
    <KeyCode>0x50</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>Q</Key>
    <KeyCode>0x51</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>R</Key>
    <KeyCode>0x52</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>S</Key>
    <KeyCode>0x53</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>T</Key>
    <KeyCode>0x54</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>U</Key>
    <KeyCode>0x55</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>V</Key>
    <KeyCode>0x56</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>W</Key>
    <KeyCode>0x57</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>X</Key>
    <KeyCode>0x58</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>Y</Key>
    <KeyCode>0x59</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>Z</Key>
    <KeyCode>0x5A</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 0</Key>
    <KeyCode>0x60</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 1</Key>
    <KeyCode>0x61</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 2</Key>
    <KeyCode>0x62</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 3</Key>
    <KeyCode>0x63</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 4</Key>
    <KeyCode>0x64</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 5</Key>
    <KeyCode>0x65</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 6</Key>
    <KeyCode>0x66</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 7</Key>
    <KeyCode>0x67</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 8</Key>
    <KeyCode>0x68</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMPAD 9</Key>
    <KeyCode>0x69</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>MULTIPLY</Key>
    <KeyCode>0x6A</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>ADD</Key>
    <KeyCode>0x6B</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>SEPARATOR</Key>
    <KeyCode>0x6C</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>SUBTRACT</Key>
    <KeyCode>0x6D</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>DECIMAL</Key>
    <KeyCode>0x6E</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>DIVIDE</Key>
    <KeyCode>0x6F</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F1</Key>
    <KeyCode>0x70</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F2</Key>
    <KeyCode>0x71</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F3</Key>
    <KeyCode>0x72</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F4</Key>
    <KeyCode>0x73</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F5</Key>
    <KeyCode>0x74</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F6</Key>
    <KeyCode>0x75</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F7</Key>
    <KeyCode>0x76</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F8</Key>
    <KeyCode>0x77</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F9</Key>
    <KeyCode>0x78</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F10</Key>
    <KeyCode>0x79</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F11</Key>
    <KeyCode>0x7A</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>F12</Key>
    <KeyCode>0x7B</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>NUMLOCK</Key>
    <KeyCode>0x90</KeyCode>
  </VirtualKeys>
  <VirtualKeys>
    <Key>SCROLL</Key>
    <KeyCode>0x91</KeyCode>
  </VirtualKeys>
  <VirtualOptionKeys>
    <Key xml:space="preserve"> </Key>
    <KeyCode>0x00</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>SHIFT</Key>
    <KeyCode>0x10</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>CTRL</Key>
    <KeyCode>0x11</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>ALT</Key>
    <KeyCode>0x12</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>CAPS LOCK</Key>
    <KeyCode>0x14</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>LWIN</Key>
    <KeyCode>0x5B</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>RWIN</Key>
    <KeyCode>0x5C</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>LSHIFT</Key>
    <KeyCode>0xA0</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>RSHIFT</Key>
    <KeyCode>0xA1</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>LCTRL</Key>
    <KeyCode>0xA2</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>RCTRL</Key>
    <KeyCode>0xA3</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>LALT</Key>
    <KeyCode>0xA4</KeyCode>
  </VirtualOptionKeys>
  <VirtualOptionKeys>
    <Key>RALT</Key>
    <KeyCode>0xA5</KeyCode>
  </VirtualOptionKeys>
</NewDataSet>